/* INDEX.EJS */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Audiowide:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Coda:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Special+Elite:400,500,700');

body {
    height: 100%;
    width: 100%;
    font-family: 'Comfortaa', sans-serif;
    color: #222;
    background-color: #f5f5f5;
    padding-top: 35px;
}

.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url('/images/bw-coastline.jpg') no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 50px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
}

.mastheadquote {
    /* display: table; */
    width: auto;
    height: auto;
    border: 2px solid #a5a5a5;
    border-radius: 8px;
    padding: 50px 0;
    text-align: center;
    color: black;
    background: url('/images/gettysburg-address.png') no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 50px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
}

img {
    image-orientation: from-image;
}

/* Navbar & Footer*/

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px
}

.nav-link {
    font-size: 1.1em !important;
}

.logo {
    margin-right: 3px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

footer a {
    color: #d5d5d5;
}

footer p {
    margin-bottom: 0%;
}

footer h5 {
    margin-top: .5em;
}

footer div h5 {
    font-size: .8rem;
}

footer div p {
    font-size: .6rem;
}

/* INDEX.HTML */

.quotebox-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.kleb {
    color: black;
    text-shadow: 1px 0 black;
    letter-spacing: 1px;
    font-weight: bold;
}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hr-quote-top {
    width: 50%;
    margin-top: 0%;
    margin-bottom: .5rem;
    height: 2px;
    border-color: darkgray;
}

.hr-quote-bottom {
    width: 50%;
    margin-top: .5rem;
    margin-bottom: 0%;
    height: 2px;
    border-color: darkgray;
}

.carousel-inner img {
    width: 97%;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.space {
    background-color: gray;
    margin-bottom: 2px;
    text-align: center;
}

.img-header {
    width: 100%;
    height: 95%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}

/* PROJECTS.HTML */

.fa-html5 {
    color:#E34F26;
    font-size: 2rem;
}

.fa-npm {
    color: #cb3837;
    font-size: 2rem;
}

.fa-js-square {
    color: #f7df1e;
    font-size: 2rem;
}

.fa-css3-alt {
    color: #3B5998;
    font-size: 2rem;
}

.project-banner {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px #808080;
    margin-bottom: 0;
}

.project-desc {
    text-align: center;
}

.project-img {
    border: 5px solid #ddd;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 1rem;
}

.project-img:hover {
    border-radius: 15px 40px;
}

.robotstore-title {
    font-family: Audiowide;
    font-size: 1.5rem;
    color: red;
}

a.robotstore-title:hover {
    color: black;
}

.cardealership-title {
    font-family: Berkshire Swash;
    font-size: 1.6rem;
    color: #089E6E;
}

.cdo-title {
    font-family: Rock Salt;
    font-size: 1rem;
    font-weight: bold;
    color: #800080;
}

.cindyandme-title {
    font-family: Comfortaa;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.newproject-title {
    font-family: Special Elite;
    font-size: 1.5rem;
    color: blue;
}

.technologies li {
    display: inline;
    color: red;
    list-style-type: none;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
} */

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

/* .frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
} */

/* .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
} */

/* RESUME.HTML */

.resume-padding {
    padding-left: 5rem;
}

.resume-hr-top {
    margin-top: 0%;
    margin-bottom: .5rem;
}

.resume-hr-bottom {
    margin-top: .5rem;
    margin-bottom: 0%;
}

resume div {
    padding: 0%;
}

.resume-left {
    display: inline-block;
}

.resume-right {
    padding-right: 5rem;
}

.resume-date-right {
    display: inline-block;
    float: right;
    padding-right: 5rem;
}

.resume-justify {
    padding-left: 2rem;
    padding-right: 5rem;
    text-align: justify;
}

.resume-justify-ul {
    padding-left: 4rem;
    padding-right: 5rem;
    text-align: justify;
}

.resume-link a {
    color: darkslategray;
}

.resume-link a:hover {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

/* SOCIAL MEDIA */

.fa-facebook-f {
    color: #3b5998;
}

.fa-linkedin-in {
    color: #0077b5;
}

.fa-instagram {
    color: #517fa4;
}

.fa-twitter {
    color: #00aced;
}

.fa-strava {
    color: #fc4c02;
}

.fa-github {
    color: black;
}

.fa-facebook-f,
.fa-linkedin-in,
.fa-instagram,
.fa-twitter,
.fa-strava,
.fa-github,
.fa-jicon:hover {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.fa-facebook-f:hover,
.fa-linkedin-in:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-strava:hover,
.fa-github:hover,
.fa-jicon:hover,
.hackhive:hover {
    opacity: .5;
}

.sm-cardheader {
    font-size: .8rem;
}

.pointer:hover {
    cursor: pointer;
    opacity: .5;
    font-size: 1rem;
}

/* FONTS, BUTTONS & OTHER ELEMENTS */

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.fun {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.gif {
    max-width: 100%;
}

.social a {
    font-size: 2.5em;
    padding: 3rem;
    text-decoration: none;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.fa-code {
    color: #e54d26;
}

.fa-bold {
    color: #563d7c;
}

.fa-css3 {
    color: #2163af;
}

.fa-code,
.fa-bold,
.fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fa-cloud-download-alt,
.fa-eye {
    color: black;
}

/*---MEDIA QUERIES --*/

@media screen and (orientation: portrait) {
    img.img-header {
        max-width: 90%;
    }
}

@media screen and (orientation: landscape) {
    img.img-header {
        max-height: 90%;
    }
}

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
    div.blog-quote {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h3 {
        font-size: 100%;
    }
    .carousel-caption h5 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}

/*---FIREFOX BUG FIX --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- CORRECT BACKGROUND IMAGE --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('/ngApp/images/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- BOOTSTRAP PADDING FIX --*/

[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* FONT SIZES HEADINGS TO REM
H1 = 2.5rem
H2 = 2.00rem
H3 = 1.75rem
H4 = 1.50rem
H5 = 1.25rem
H6 = 1.00rem
*/