---
layout: default
title: "About"
permalink: /views/about.html
---


  
  <div class="container-fluid" style="margin: auto" width: "95%">

<!-- About Me -->
<div id="about" class="container">
  <div class="row">
    <div class="col-12">
      <hr class="mt-5">
      <p class="project-banner mb-2">About Me and this Site</p>
      <hr class="mb-3">

      <section id="about" class="py-1 bg-gray-100" style="text-align: left;">
        <div class="text-lg leading-relaxed text-gray-700">
          <p>Hi, I’m John – welcome to my corner of the web.
              <img src="/images/favicons/moose.png" class="moose-right" alt="Moose Icon"
               style="height: 35px; width: 35px; vertical-align:baseline; margin: 0 10px;">
          </p>

          <p>
            I build stuff out of wood, I create things with leather, I ride a bike, I play some golf and I have a simple website. 
            Most important to me is my family; I am a husband to an incredible woman, Cindy; father of two extraordinary human beings, 
            Danyel & Tyler; and we have an amazing daughter-in-law, Kirsten.
          </p>

          <p>
            Cindy and I love exploring the State of Arizona and other parts of the country with each other. We like day trips 
            around Phoenix and Arizona, we enjoy short weekend getaways, and we love long drives across the country. When presented 
            with a choice, we prefer to drive rather than fly — there’s just something special about the time we spend together 
            watching the landscape unfold mile by mile. It’s not just about the destination for us; it’s about the journey.
          </p>

          <p>
            Family is everything. Cindy and I have been blessed with two amazing kids, and nothing brings us more joy than spending 
            time with them and watching them grow into the wonderful human beings they are. They are beyond successful in anything 
            they put their minds to. They both have wonderful careers, have established themselves as leaders and surround themselves 
            with people and friends who value relationship over individual. Cindy, Danyel & Tyler are three of the most incredible 
            people I have ever met. Without their presence in my life, I would not be complete. In June (2025) we will add Kirsten
            to our family. I am unbelievably blessed.
          </p>

          <p>
            Building this website has been a journey for me. As with most projects I take on, I over-think and under-do. I started 
            it shortly after I completed my Software Development Certification in 2018, and 7 years later (as this is being written), 
            I am just starting to put together a design that I can feel good about. Life gets in the way, my CDO starts to take over 
            and I get overwhelmed to the point that I can’t get started. Yes, CDO is what I meant to say. If you 
            know, you know.
          </p>

          <p>
            I wasn’t sure how the site should look or what to include, but I think I finally have something I can continue to build upon. 
            The most important page for me is <em>Cindy & Me</em>. It is a project I promised her I would do but never got off the ground. 
            I even bought the domain <strong>cindyandme.com</strong> in 2018 but never used it. Only recently did it occur to me that I could simply 
            add a page to this site and have the CindyandMe URL re-direct to it (see my earlier note about over-thinking).
          </p>

          <p>
            In my early life I played baseball. I pitched for 
            <a href="https://post22baseball.com/Stats/PlayersByYear.php?id=1983" 
               onclick="window.open(this.href, 'popup', 'width=1000, height=600,scrollbars=yes'); return false;"
               class="text-black hover:underline">Rapid City Post 22</a> and 
               represented 
            <a href="https://img.mlbstatic.com/opprops-images/image/upload/opprops/bwkid13ia2gwh81jvqlx.pdf" 
               onclick="window.open(this.href, 'popup', 'width=1000, height=600,scrollbars=yes'); return false;"
               class="text-black hover:underline">USA Baseball</a>, earning a Silver Medal in the 1983 World Friendship 
               Series. I was on the starting rotation as a freshman at San Diego State University—GO AZTECS! An injury sidelined me, 
               but my experiences taught me discipline, resilience, and teamwork—values I still carry with me to this day.
          </p>

          <p>
            God blesses me in every way possible every day, and I am a firm believer that there is a Plan for everyone. I may not 
            know how it ends, but I know it will have been a good one. I love my wife, I love my family, and I would not have it any 
            other way. 
          </p>

          <p>
            Oh, and I like Moose. Don't ask.
          </p>

          <p class="mb-0">
            Thank you for stopping by and getting to know a little about me. I hope this site gives you a glimpse of who I am and what 
            I care about.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
  
<!-- Footer with Resume Section Included -->
<footer id="footer" class="footer-full bg-dark text-white pt-1 pb-1">
  <div class="container-fluid px-0">
    <div class="container">
      <div class="row">
        <div class="col-12 resume-link pr-lg-5">
          <span style="font-size: 1rem;">
            <a href="tel:+16236965646" class="text-white">(623) 696-5646</a> |
            <a href="mailto:jchleborad@gmail.com" class="text-white">jchleborad@gmail.com</a> |
            <a href="https://www.linkedin.com/in/jchleborad/" class="text-white">linkedin.com/in/jchleborad</a> |
            <a href="https://github.com/jchleborad" class="text-white">github.com/jchleborad</a>
            <br>
            <a href="/images/viewAbout/resume.pdf" target="_blank" style="text-decoration: none;">
              <button type="button" class="btn btn-outline-light btn-sm mt-2">
                <i class="fas fa-cloud-download-alt mr-2 text-white"></i>
                <span style="font-weight: bold; color: white;">Resumé</span>
              </button>
            </a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/images/viewAbout/WozU-Cert-SWD.png" target="_blank" style="text-decoration: none;">
              <button type="button" class="btn btn-outline-light btn-sm mt-2">
                <i class="fas fa-eye mr-2 text-white"></i>
                <span style="font-weight: bold; color: white;">Woz U Certification</span>
              </button>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>




</body>

</html>
