<!DOCTYPE html>
<html lang="en">

<head>
    <title>JChleborad - Adventures w/Cindy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="John Chleborad">
    <meta name="description" content="Chronicling our vacations and adventures">
    <meta name="keywords" content="John Chleborad, R John Chleborad, jchleborad, Cindy Chleborad, Cindy Blaylock, cchleborad">

<!-- Google Fonts explicitly added -->
<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite:400,500,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rock+Salt:400,500,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash:400,500,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Audiowide:400,500,700&display=swap" rel="stylesheet">

    <!-- Bootstrap 4, CSS3 & Scripts-->
    <link rel="stylesheet" href="/css/site.css">
    <link rel="shortcut icon" href="/images/favicons/favicon-c.png" type="image/x-icon" />
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<!-- Bootstrap 4.5 ONLY -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body style="padding: 0%">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img class="logo" src="/images/logos/jchleborad-logo.png" width="170">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active-link" href="/views/adventures.html">Cindy & Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/cycling.html">Cycling</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/about.html">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
    
    <div class="container">
        <div class="row jumbotron" style="margin-top:100px; padding-top: 5px; padding-bottom: 0px;">
            <div class="col-12">
                <div class="d-inline-block mr-3">
                    <h2 style="margin-bottom: 0;">Our Adventures, Cindy & Me</h2>
                </div>
                <div class="d-block mt-2" style="padding-right: 5rem;">
                    <hr class="adventure-hr-top" style="margin: 0rem 0;">
                        <span style="font-size: 1rem;">
                            <a href="tel:+16236965646" class="black-link">John - (623) 696-5646</a> |
                            <a href="mailto:jchleborad@gmail.com" class="black-link">jchleborad@gmail.com</a> |&nbsp;&nbsp;
                            <img src="/images/favicons/moose.png" alt="Moose Icon" style="height:40px; width:40px; vertical-align:middle;"> &nbsp;&nbsp;|
                            <a href="tel:+16236965645" class="black-link">Cindy - (623) 696-5645</a> |
                            <a href="mailto:cchleborad@icloud.com" class="black-link">cchleborad@icloud.com</a>
                        </span>
                    <hr class="adventure-hr-bottom" style="margin: 0rem 0;">
                </div>
            </div>
        </div>
    </div>

    <!-- TRIPS & ADVENTURES-->
    <section id="team" class="pb-0" style="margin-top: 0; padding-top: 0;">
        <div class="container mt-0" style="padding-top: 0; margin-top: 0;">
            <div class="row" style="margin-top: 0; padding-top: 0;">
                <!-- Iowa Wedding Trip 2025 -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="project-img" src="/images/viewAdventures/TandKWedding/welcomtoiowa.png" style="height:85px; width:195px" alt="iowaStatesite">
                                        </p>
                                        <h4 class="adventure-title">To Iowa for the Wedding</h4>
                                        <p class="card-text">Our Adventure to Iowa<br>May 31 thru June 9 2025</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <!-- <a href="#" style="text-decoration: none" target="_blank"></a> -->
                                        <h4 class="adventure-title">Tyler & Kirsten's Wedding</h4>
                                        <!-- </a> -->
                                        <p class="card-text" style="font-size: .90rem">Driving from Phoenix to Des Moines; through New Mexico, Texas, Oklahoma, Arkansas, & Missouri on our way to Tyler & Kirsten's wedding
                                        </p>
                                            <div class="card-footer">
                                              <a class="adventure-title" style="font-size: 1.15rem; text-decoration: none; cursor: pointer;" 
                                                data-toggle="modal" 
                                                data-target="#carouselModal">
                                                Pictures
                                              </a>
                                            </div>
                                        <div class="card-footer">
                                            <a class="adventure-title" style="font-size: 1.15rem; text-decoration: none" href="/images/viewAdventures/TandKWedding/tripBlog.png"
                                                >About the Trip</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Las Vegas Family Trip 2024-->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="project-img" src="/images/viewAdventures/Vegas2024/welcometovegas.jpeg" style="height:85px; width:195px" alt="Project 1">
                                        </p>
                                        <h4 class="adventure-title">Las Vegas</h4>
                                        <p class="card-text">Family Trip<br>February 2024</p>
                                    </div>
                                </div>
                            </div>
                              <div class="backside">
                                <div class="card">
                                  <div class="card-body text-center mt-4">
                                    <h4 class="adventure-title">Sending Tyler & Kirsten off to Iowa</h4>
                                    <p class="card-text" style="font-size: .90rem">It was a Christmas challenge to come up with the best idea for a send-off!</p>
                                    <div class="card-footer">
                                      <a class="adventure-title" style="font-size: 1.15rem; text-decoration: none; cursor: pointer;" 
                                        data-toggle="modal" 
                                        data-target="#project5CarouselModal">
                                        Pictures
                                      </a>
                                    </div>
                                    <div class="card-footer">
                                      <a class="adventure-title" style="font-size: 1.15rem; text-decoration: none" href="/images/viewAdventures/Vegas2024/vegas2024_blogpost.png"
                                        >About the Trip</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>

                <!-- Mom's 90th -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="project-img" src="/images/viewAdventures/Moms90th/welcometorapidcity.jpeg" style="height:85px; width:195px" alt="Project 1">
                                        </p>
                                        <h4 class="adventure-title">Rapid City, South Dakota</h4>
                                        <p class="card-text">Birthday Celebration<br>April 2024</p>
                                    </div>
                                </div>
                            </div>
                              <div class="backside">
                                <div class="card">
                                  <div class="card-body text-center mt-4">
                                    <h4 class="adventure-title">Mom's 90th Birthday Celebration</h4>
                                    <p class="card-text" style="font-size: .90rem">We traveled to Rapid City, SD to celebrate Mom's (aka Barb, aka Grandma) 90th Birthday!</p>
                                    <div class="card-footer">
                                      <a class="adventure-title" style="font-size: 1.15rem; text-decoration: none; cursor: pointer;" 
                                        data-toggle="modal" 
                                        data-target="#project6CarouselModal">
                                        Pictures
                                      </a>
                                    </div>
                                    <div class="card-footer">
                                      <a class="adventure-title" style="font-size: 1.15rem; text-decoration: none" href="/images/viewAdventures/Moms90th/tripBlog.png" alt="vegas2024_blogpost">
                                        About the Trip</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Footer -->
<footer id="footer" class="bg-dark" style="padding-top: 0px;">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-8 d-none d-md-block" style="padding-top: 20px; padding-bottom: 20px;">
      </div>
    </div>
  </div>
</footer>
  
<!-- Iowa Wedding Trip 2025 Modal with Carousel -->
<div class="modal fade" id="carouselModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Tyler & Kirsten's Engagement</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="weddingCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/viewAdventures/TandKWedding/tandk1.JPG" class="d-block w-100 modal-img" alt="tandk1">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk2.JPG" class="d-block w-100 modal-img" alt="tandk2">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk3.JPG" class="d-block w-100 modal-img" alt="tandk3">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk4.JPG" class="d-block w-100 modal-img" alt="tandk4">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk5.JPG" class="d-block w-100 modal-img" alt="tandk5">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk6.JPG" class="d-block w-100 modal-img" alt="tandk6">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk7.jpg" class="d-block w-100 modal-img" alt="tandk7">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk8.JPG" class="d-block w-100 modal-img" alt="tandk8">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk9.JPG" class="d-block w-100 modal-img" alt="tandk9">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk10.JPG" class="d-block w-100 modal-img" alt="tandk10">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk11.JPG" class="d-block w-100 modal-img" alt="tandk11">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/TandKWedding/tandk12.png" class="d-block w-100 modal-img" alt="tandk12">
            </div>
          </div>
          <a class="carousel-control-prev" href="#weddingCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#weddingCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Las Vegas Family Trip Modal with Carousel -->
<div class="modal fade" id="project5CarouselModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Las Vegas Here We Come</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="project5Carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/viewAdventures/Vegas2024/IMG_0577.JPEG" class="d-block w-100 modal-img" alt="0577">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_0578.JPEG" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_0582.JPEG" class="d-block w-100 modal-img" alt="0577">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_0593.JPEG" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_0650.JPEG" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_0672.JPEG" class="d-block w-100 modal-img" alt="0577">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_2044.jpg" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_4934.jpeg" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_9245.jpg" class="d-block w-100 modal-img" alt="0577">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Vegas2024/IMG_9249.jpg" class="d-block w-100 modal-img" alt="0578">
            </div>
          </div>
          <a class="carousel-control-prev" href="#project5Carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#project5Carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mom's 90th Modal with Carousel -->
<div class="modal fade" id="project6CarouselModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Mom's 90th Birthday Celebration</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="project6Carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/viewAdventures/Moms90th/IMG_0782.JPEG" class="d-block w-100 modal-img" alt="0577">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_0783.JPEG" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_0794.JPEG" class="d-block w-100 modal-img" alt="0577">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_0801.JPEG" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_0832.JPEG" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_2045.jpg" class="d-block w-100 modal-img" alt="0577">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_2046.jpg" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_5290.jpg" class="d-block w-100 modal-img" alt="0578">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_9390.jpg" class="d-block w-100 modal-img" alt="0577">
            </div>
            <div class="carousel-item">
              <img src="/images/viewAdventures/Moms90th/IMG_9405.jpg" class="d-block w-100 modal-img" alt="0578">
            </div>
          </div>
          <a class="carousel-control-prev" href="#project6Carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#project6Carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


</body>

</html>