---
layout: default
title: "Cycling"
permalink: /views/cycling.html
---



  <main id="cycling" class="container">
    <div class="row">
      <div class="col-12">
<div class="row jumbotron" style="margin-top:100px; margin-bottom: 0; padding-top: 5px; padding-bottom: 0px;">
  <div class="col-12">
    <div class="d-inline-block mr-3">
      <h2 style="margin-bottom: 0;">My Rides and other Cycling Adventures</h2>
      <h6 style="margin-bottom: 0; color: red">(...this site is still under construction) 
        <i class="fa-solid fa-road-barrier" style="color: black; font-size: 25px;"></i></h6>
    </div>
      <hr class="adventure-hr-top" style="margin: 0rem 0;">
      <hr class="adventure-hr-bottom" style="margin: 0rem 0;">
    </div>
  </div>
</div>

      </div>

      <!-- My Bike Section -->
      <div class="col d-flex justify-content-center">
        <div class="card text-center">
          <div class="card-body">
            <a href="https://www.strava.com/athletes/26951887" target="_blank" style="text-decoration: none;">
              <h4 class="mt-0">Giant Defy 5 (2017)</h4>
              <img src="/images/viewCycling/giant-defy-5-santa-barbara.jpg" 
                   class="project-img img-fluid rounded shadow mb-0" 
                   alt="Giant Defy 5"
                   style="width: 1200px; height: auto;">
            </a>

            <p style="font-size: .7rem;">Atop a hill in Santa Barbara; mile 70 of the Cool Breeze Ride</p>

            <p style="margin-bottom: 0;">This is my first road bike and I absolutely LOVE riding it!</p>
            
            <p style="margin-bottom: 1;">I purchased it at 
              <a href="https://www.bikesandlife.com" target="_blank">Bikes + Life</a> in Scottsdale, AZ.
            </p> 
            <a href="https://www.strava.com/athletes/26951887" target="_blank" style="text-decoration: none;">
              <h5 style="color: black;">Strava Dashboard</h5>
            </a>
            <p><strong>
              My Century Rides:</strong><br>
              Bike the Coast 11/02/2018 – 101 Miles<br>
              Cool Breeze Century 08/16/2019 – 102 Miles
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

     <!-- FOOTER -->
      <footer class="footer-full text-white pt-0 pb-0">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-12" style="height: 40px;"></div>
          </div>
        </div>
      </footer>

</body>

</html>
