---
layout: default
title: "Cycling"
permalink: /cycling/
---

<main id="cycling" class="container-fluid cycling-bg">
  <div class="cycling-overlay">
    <div class="container py-5">
            <!-- Header Section -->
      <div class="row justify-content-center">
        <div class="card text-center bike-section mb-5 col-11 col-md-9 col-lg-8">
          <div class="card-body cycling-header">
            <h2>My Rides and other Cycling Adventures</h2>

            <!--
            <h6 style="color: red;">
              (...this site is still under construction)
              <i class="fa-solid fa-road-barrier" style="color: black; font-size: 25px;"></i>
            </h6>
            !-->
            <hr class="adventure-hr-bottom">
          </div>
        </div>
      </div>


      <!-- My Bike Section -->
<div class="row justify-content-center">
  <div class="card text-center bike-section">
    <div class="card-body">
      <h3 class="mt-0"><strong>Giant Defy 5 (2017)</strong></h3>
      <img src="/images/viewCycling/giant-defy-5-santa-barbara.jpg"
           class="project-img img-fluid cycling-bike-img"
           alt="Giant Defy 5">
      <p class="small">Mile 70 of the Cool Breeze Ride, Overlooking the Pacific Ocean</p>
      
      <div class="mx-auto" style="max-width: 600px;">
        <p>This is my first road bike and I absolutely LOVE riding it! I purchased it at Bikes + Life in Scottsdale but sadly
          they are no longer in business.</p>

          <h3 class="mb-1"><strong>My Century Rides:</strong></h3>
          <p class="mb-0">
          Bike the Coast 11/02/2018 – 101.13 Miles, 7h 3m<br>
          Cool Breeze Century 08/16/2019 – 102.39 Miles, 7h 29m
        </p>

      </div>
    </div>
  </div>
</div>

<!-- My Strava Section -->
<div class="row justify-content-center mt-5">
  <div class="card text-center bike-section">
    <div class="card-body">
      <a href="https://www.strava.com/athletes/26951887" target="_blank">
        <h2 class="black-link">My Strava Dashboard</h2>
      </a>

      <div class="strava-embed">
        <iframe height="454" frameborder="0" allowtransparency="true" scrolling="no"
          src="https://www.strava.com/athletes/26951887/latest-rides/6e7aa6fe12e9de949523f1e58ded7fe85a649221"></iframe>
      </div>
      <div class="strava-embed">
        <iframe height="160" frameborder="0" allowtransparency="true" scrolling="no"
          src="https://www.strava.com/athletes/26951887/activity-summary/6e7aa6fe12e9de949523f1e58ded7fe85a649221"></iframe>
      </div>
    </div>
  </div>
</div>

</main>

<!-- FOOTER -->
<footer class="footer-full text-white pt-0 pb-0">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-12" style="height: 40px;"></div>
    </div>
  </div>
</footer>
