---
layout: default
title: "Project605Beta"
permalink: /views/project605beta.html
---

<div class="container mt-5 pt-5">
  <ul class="nav nav-tabs justify-content-center" id="projectTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="wood-tab" data-toggle="tab" href="#wood" role="tab">WoodWorking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="leather-tab" data-toggle="tab" href="#leather" role="tab">LeatherWorks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="garage-tab" data-toggle="tab" href="#garage" role="tab">My Garage</a>
    </li>
  </ul>

  <div class="tab-content mt-4" id="projectTabsContent">
    <div class="tab-pane fade show active" id="wood" role="tabpanel">
      {% assign wood_items = site.project605beta | where: "category", "wood" %}
      {% for item in wood_items %}
        {{ item.content }}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="leather" role="tabpanel">
      {% assign leather_items = site.project605beta | where: "category", "leather" %}
      {% for item in leather_items %}
        {{ item.content }}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="garage" role="tabpanel">
      {% assign garage_items = site.project605beta | where: "category", "garage" %}
      {% for item in garage_items %}
        {{ item.content }}
      {% endfor %}
    </div>
  </div>
</div>
